.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*Valerio css*/
#CardsColumns {
  text-align: left;

}
#searchbar input:focus{
  border-style: solid !important;
  border-color: green !important;
}
.IntText {
  display: flex;
  flex-direction: column;
  padding:10% 10% 5% 10%;
  align-items: flex-start
}
#NavContainer{
  border-bottom: 2px solid rgb(0, 0, 0);
}
.NavEnterBtn {
  border-radius: 35%;
  background-color: black;
}

.NavSearch{
  border-radius: 5%;
  transition: none;
  border-color: black;

}
#Advisor {
  font-weight: bold;
}
.form-inline:active{
  border-style: none;
}
/*Fine css Vale*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Inizio CSS demmerda scritto da Fabrizio*/
#img {
  width: 190px;
  height: 196px;
  }
  
  #bubble {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #5DC7A0;
  }
/* Fine CSS demmerda scritto da Fabrizio*/
/*Inizio CSS Mirco*/
.mostra {
  color: black;
  text-decoration: underline;
}

.mostra:hover {
  color: rgb(117, 117, 117);
  text-decoration: underline;
}

.form-group input[type="checkbox"]:checked {
  background-color: black;
}
/*
.form-check-input{
    background-color: black !important;
}
*/

/*Fine CSS Mirco*/