.App-logo {
    height: 40vmin;
    pointer-events: none;
}
/*Gianmarco css*/
#Intestazione-container {
    position: relative;
    min-height: 150px;
}

#Intestazione-container h3 {
    position: absolute;
    bottom: 20px;
}

.modal-backdrop{
    background-color: rgba(0, 0, 0, 0.2) !important;

}

.modal-content{
    border-color: white !important;
    border-radius: 25px !important;
}

.my-modal-shadow{
    background-color: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 0 10px;
    box-shadow: rgba(0,0,0,0.2) 0 0 10px;
}

#img {
    background-color: #282c34;
    min-height: 250px;
    min-width: 300px;
    max-width: 300px;
    max-height: 250px;
}

[class*='rating']{
    border: 1px solid #5DC7A0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 2px;
}
.empty-rating {

}

.full-rating{
    background-color: #5DC7A0;
}

.half-rating {
    background: linear-gradient(90deg, #5DC7A0 50%, white 50%);
}

.separator{
    padding-inline: 4px;
}

/*Fine Gianmarco css*/
/*Valerio css*/

::placeholder{
    color: black;
    opacity: 1;
}

.modalinput{
    border:none;
    border-bottom: 2px solid black;
}




#modaldate{
    max-width: 90px;
}
#modaltime{
    max-width: 55px;
}
#modalperson {
        max-width: 60px;
}
#searchbar{
    background-position: left;
    background-size: contain;   
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-image: url('img/500px-Search_Icon.svg.png');
    padding-left: 30px;

}

#containerforlist{
    display: flex;
    justify-content: center ;
}
#checklist{
    max-width: 300px;
    margin-left: 20px;
    margin-right: 70px;
}

#card{
    max-width: 900px;
    min-width: 900px;
}

#Mycarousel{
        margin-top: 3%;
        max-height: 500px;
        justify-content: center;
        overflow: hidden;
        
}
/* #menuboxtext{
        display:flex;
        flex-direction: row;
} */
/* #cardbody {
        display: flex;
        flex-direction:row ;
} */
#cardbody a{
    font-size: small;
}
.menudescription a{
    text-align: left;
}

#IntestazioneSingle-container {
    position: relative;
    min-height: 150px;
    padding-left: 11%;
    padding-top: 5%;
    padding-bottom: 2%;
}   

.App {
    background-color: #E9E9E9;
}

#CardsColumns {
    text-align: left;
}

#cards {
    margin-bottom: 8%;
}

.IntText {
    display: flex;
    flex-direction: column;
    padding: 10% 10% 5% 10%;
    align-items: flex-start
}

#NavContainer {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.NavEnterBtn {
    border-radius: 35%;
    background-color: black;
}

.NavSearch {
    border-radius: 5%;
    transition: none;
    border-color: black;

}

#Advisor {
    font-weight: bold;
}

.form-inline:active {
    border-style: none;
}

/*Fine css Vale*/
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*Inizio CSS checklist*/
#filCard{
        min-height: 280px;
        min-width: 200px;
        background-color: white;
}
.mostra {
    color: black;
    text-decoration: underline;
}

.mostra:hover {
    color: rgb(117, 117, 117);
    text-decoration: underline;
}
/*Fine CSS Mirco*/